# compiled files
__pycache__/

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.vscode
.env
.venv
.env/
.venv/
env/
venv/

# macOS filesystem
.DS_STORE


